*{
    text-align: center;
    background-color: black;
    font-family: 'Aboreto', normal;
    color: yellow;
}
ul {
    list-style-type: none;
}
.menu{
    text-align: center;
    font-size: 35px;
    position: fixed;
    display: flex; flex-direction: row;
    justify-content: space-evenly;
}
.redes{
    text-align: center;
    display: flex, flex-direction: row;
}
.newsletter{
    line-height: 1.6;
    text-align: center;
}