* {
    background-color: black;
    font-family: 'Aboreto', normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    min-height: 100vh;
}

header {
    width: 80%;
    position: sticky;
    top: 0;
    z-index: 111;
}

.menu {
    text-align: center;
    font-size: 150%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    padding: 0 40px;
    margin: 20px 0;
}

a,
p,
h2 {
    color: yellow;
    text-decoration: none;
}

a:hover {
    color: blueviolet;
    transition: color 1s;
}

.container {
    max-width: 80%;
}

.imagenCentral {
    width: inherit;
    height: 60vh;
    background-image: url(../img/inicio.jpg);
    margin: 20px 0;
}

.bio,
.sesiones {
    display: flex;
}

.bio div {
    width: 50%;
    height: auto;
    margin: 10px;
}

.bio .bio-text {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}

.bio img {
    max-width:100%;
    height:auto;
}

.bio .bio-buttons {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
}

.bio button {
    border: 1px yellow solid;
    padding: 8px 10px;
}

.sesiones {
    flex-direction: column;
    justify-content: center;
    margin: 40px 0;
    padding: 20px;
}

.sesiones .calendly-inline-widget {
    height: 600px;
}

footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.redes {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.redes a {
    margin: 0 20px;
}

.newsletter {
    line-height: 1.6;
    text-align: center;
}

.bio-text-mobile{
    display: none;

}

/*
@media only screen and (max-width: 700px) {
    
  
    .fa-solid.fa-bars {
        display: block;
        text-align: right;
        color: yellow;
        margin: 40px 15px;
    }
    menu {
    max-width: 70%;
    }
  }
*/
.gfg{
    display: none;
}

@media screen and (max-width: 600px) {
    nav {
        font-size: 70%;
    }
    .container {
        max-width: 100%;
    }
    .imagenCentral{
        display: none;
    }
    .bio {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; 
    }
    .bio div{
        height: auto;
        width: 100%;
    }
    /*
    .gfg {
        width: auto;
        text-align: center;
        padding: 20px;
        object-fit: contain;
        display: flex;
    }
    img {
        max-width:100%;
        height:auto;
    }
    */
    .sesiones{
        text-align: center;
        margin: 10px 0;

    }
}